<article class="container">
    <h3 class="fw-bolder">Khóa học Pro</h3>
    <div class="row">
      <div class="col-xxl-3 col-lg-4 col-md-6 mb-3">
        <div class="image-container d-flex justify-content-center align-items-center">
          <img src="img/html-css.jpg" alt="" width="100%" />
          <div class="overlay">
            <button class="btn btn-light" data-mdb-ripple-color="dark" ><a href="#!/product" class="text-decoration-none">Xem thêm</a></button>
          </div>
        </div>
        <div>
          <h6>HTML CSS PRO</h6>
          <del>2.499.000đ</del
          ><span class="text-danger fw-bolder">1.299.000đ</span>
        </div>
      </div>
      <div class="col-xxl-3 col-lg-4 col-md-6 mb-3">
        <div class="image-container d-flex justify-content-center align-items-center">
          <img src="img/reactjs-pro.jpg" alt="" width="100%" />
         
        </div>
        <div>
          <h6>React Pro</h6>
          
        </div>
      </div>
      <div class="col-xxl-3 col-lg-4 col-md-6 mb-3">
        <div class="image-container d-flex justify-content-center align-items-center">
          <img src="img/js-pro.jpg" width="100%"/>
        
        </div>
        <div>
          <h6>JavaScript Pro</h6>
          
        </div>
      </div>
    </div>

    <!-- Khóa học free -->
    <h3 class="fw-bolder">Khóa học miễn phí</h3>
    <div class="row">
      <div class="col-xxl-3 col-lg-4 col-md-6 mb-3">
        <div class="image-container d-flex justify-content-center align-items-center">
          <img src="img/C.jpg" alt="" width="100%" />
          <div class="overlay">
            <button class="btn btn-light" data-mdb-ripple-color="dark">Xem thêm</button>
          </div>
        </div>
        <div>
          <h6>C cơ bản đến nâng cao</h6>
        </div>
      </div><div class="col-xxl-3 col-lg-4 col-md-6 mb-3">
        <div class="image-container d-flex justify-content-center align-items-center">
          <img src="img/js basic.jpg" alt="" width="100%" />
          <div class="overlay">
            <button class="btn btn-light" data-mdb-ripple-color="dark">Xem thêm</button>
          </div>
        </div>
        <div>
          <h6>JavaScript cơ bản</h6>
          
        </div>
      </div><div class="col-xxl-3 col-lg-4 col-md-6 mb-3">
        <div class="image-container d-flex justify-content-center align-items-center">
          <img src="img/js-nangcao.jpg" alt="" width="100%" />
          <div class="overlay">
            <button class="btn btn-light" data-mdb-ripple-color="dark">Xem thêm</button>
          </div>
        </div>
        <div>
          <h6>JavaScript Nâng Cao</h6>
          
        </div>
      </div><div class="col-xxl-3 col-lg-4 col-md-6 mb-3">
        <div class="image-container d-flex justify-content-center align-items-center">
          <img src="img/kienthucnentang.jpg" alt="" width="100%" />
          <div class="overlay">
            <button class="btn btn-light" data-mdb-ripple-color="dark">Xem thêm</button>
          </div>
        </div>
        <div>
          <h6>Nhập môn lập trình</h6>
          
        </div>
      </div><div class="col-xxl-3 col-lg-4 col-md-6 mb-3">
        <div class="image-container d-flex justify-content-center align-items-center">
          <img src="img/nodejs.jpg" alt="" width="100%" />
          <div class="overlay">
            <button class="btn btn-light" data-mdb-ripple-color="dark">Xem thêm</button>
          </div>
        </div>
        <div>
          <h6>Nodejs & ExpressJS</h6>
          
        </div>
      </div><div class="col-xxl-3 col-lg-4 col-md-6 mb-3">
        <div class="image-container d-flex justify-content-center align-items-center">
          <img src="img/reactjs.jpg" alt="" width="100%" />
          <div class="overlay">
            <button class="btn btn-light" data-mdb-ripple-color="dark">Xem thêm</button>
          </div>
        </div>
        <div>
          <h6>React-js</h6>
          
        </div>
      </div><div class="col-xxl-3 col-lg-4 col-md-6 mb-3">
        <div class="image-container d-flex justify-content-center align-items-center">
          <img src="img/responsive.jpg" alt="" width="100%" />
          <div class="overlay">
            <button class="btn btn-light" data-mdb-ripple-color="dark">Xem thêm</button>
          </div>
        </div>
        <div>
          <h6>Responsive</h6>
          
        </div>
      </div><div class="col-xxl-3 col-lg-4 col-md-6 mb-3">
        <div class="image-container d-flex justify-content-center align-items-center">
          <img src="img/terminal.jpg" alt="" width="100%" />
          <div class="overlay">
            <button class="btn btn-light" data-mdb-ripple-color="dark">Xem thêm</button>
          </div>
        </div>
        <div>
          <h6>Làm việc với telminal</h6>
          
        </div>
      </div><div class="col-xxl-3 col-lg-4 col-md-6 mb-3">
        <div class="image-container d-flex justify-content-center align-items-center">
          <img src="img/html-css.jpg" alt="" width="100%" />
          <div class="overlay">
            <button class="btn btn-light" data-mdb-ripple-color="dark">Xem thêm</button>
          </div>
        </div>
        <div>
          <h6>HTML CSS PRO</h6>
          
        </div>
      </div>
    </div>
  </article>