<article class="container">
    <button class="btn btn-light btn-link " ><a href="#!/pay" class="text-decoration-none">Mua khóa học</a></button>

    <h3 class="fw-bolder text-center">
      Cách dễ nhất để học HTML CSS cho người mới bắt đầu
    </h3>
    <p class="text-center">
      Thực hành 8 dự án trên Figma, 300+ bài tập và thử thách, mua một lần học
      mãi mãi, được thiết kế và hướng dẫn bởi @@.
    </p>
    <div
      class="rounded border rounded-top-left-20 rounded-bottom-right-20 p-4 bg-light"
    >
      <h1>Kiến thức đầy đủ và chi tiết nhất ✨</h1>
      <p>
          Với 400+ bài học, bài tập và thử thách, đây sẽ là khóa học đầy đủ và <br> chi tiết nhất bạn có thể tìm kiếm được ở trên Internet.
      </p>
      <div class="row">
          <div class="col-lg-3 col-sm-12 col-md-6 ">
              <ul>
                  <li>Cấu trúc file HTML</li>
                  <li>Tìm hiểu các thẻ meta</li>
                  <li>Thuộc tính trong HTML</li>
                  <li>Sử dụng liên kết</li>
                  <li>Sử dụng Emmet</li>
                  <li>Tính thừa kế CSS</li>
                  <li>Thẻ inline và block</li>
                  <li>Đệm, viền, khoảng lề</li>
              </ul>
          </div>
          <div class="col-lg-3 col-sm-12 col-md-6 ">
              <ul>
                  <li>Đơn vị trong CSS </li>
                  <li>Làm việc với font chữ
                  </li>
                  <li>Làm việc với hình ảnh
                  </li>
                  <li>Thuộc tính vị trí (position)
                  </li>
                  <li>Sử dụng Emmet</li>
                  <li>Tính thừa kế CSS</li>
                  <li>Thẻ inline và block</li>
                  <li>Đệm, viền, khoảng lề</li>
              </ul>
          </div>
          <div class="col-lg-3 col-sm-12 col-md-6 ">
              <ul>
                  <li>Cấu trúc file HTML
                  </li>
                  <li>Tìm hiểu các thẻ meta</li>
                  <li>Thuộc tính trong HTML</li>
                  <li>Sử dụng liên kết</li>
                  <li>Sử dụng Emmet</li>
                  <li>Tính thừa kế CSS</li>
                  <li>Thẻ inline và block</li>
                  <li>Đệm, viền, khoảng lề</li>
              </ul>
          </div>
          <div class="col-lg-3 col-sm-12 col-md-6  ">
              <ul>
                  <li>Cấu trúc file HTML
                  </li>
                  <li>Tìm hiểu các thẻ meta</li>
                  <li>Thuộc tính trong HTML</li>
                  <li>Sử dụng liên kết</li>
                  <li>Sử dụng Emmet</li>
                  <li>Tính thừa kế CSS</li>
                  <li>Thẻ inline và block</li>
                  <li>Đệm, viền, khoảng lề</li>
              </ul>
          </div>
          * Ở đây chỉ bao gồm nội dung tiêu biểu. Nếu muốn, bạn có thể xem đầy đủ nội dung khóa học.
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-8 p-5 mt-5">
          <p>
              <h3>Không quên kiến thức với ứng dụng Flashcards </h3>
              Việc ghi nhớ giờ đây không còn là vấn đề nữa. Flashcards là phương pháp ghi nhớ thông qua việc lặp lại, kiến thức trong khóa học sẽ được bạn ghi nhớ trong dài hạn. <br>
              Chỉ với chiếc điện thoại thông minh, giờ đây bạn có thể ôn lại kiến thức ở mọi lúc, mọi nơi.
          </p>
  
  
 
        </div>
        <div class="col-lg-7 col-md-4 d-none d-lg-block text-center ">
          <img src="https://fullstack.edu.vn/landing/htmlcss/assets/img/flashcards.png" alt="" width="50%">
        </div>
        
    </div>
    
  </article>